- Any ebuild for games can be added
- All gentoo developers have access to this overlay, based on that their key
  is uploaded to git.o.g.o structure
- Ebuild structure must be same as required in kde overlay
- Every ebuild stored in this overlay must be related to games or their deps
- No bundled libs allowed. If package bundle libraries provided by other
  packages it must be unbundled first
- Packages already in main tree can be included if provide more features
- Live ebuilds can be added, for stale games with no upstream first coordination
  with freedesktop-games team is in effect, then live ebuild should be added.
- New non-official categories can be created
- Patches need to be named correctly
  -> see http://dev.gentoo.org/~scarabeus/patches-glep.html, about naming
     conventions.
  -> Generating patches using git is a usually preferable

Example directory structure
-------------------
games-arcade
	|
	tuxanci
		|
		files
			|
			patch1.patch
			patch2.patch
		tuxanci-0.1.1.ebuild
		tuxanci-99999.ebuild
		metadata.xml
		Manifest

- metadata.xml can contain maintainer. But it is opt-out mode (person don't
  have to ask for allowance when changing something)
- for herd we use name "playboys" can be elected for more sane name later :]
- commit access is granted for anyone whom provide 2 sane commits with
  git format-patch command
